




#clock{


}

#container{
  width:800px;
}
.dashunit{

    margin-bottom: 30px;
    padding-bottom: 10px;
    border: 1px solid #383737;

    background-color: #3d3d3d;
    color: white;
    height: 290px;
}
.quarterdashunit{

    margin-bottom: 10px;
    padding-bottom: 10px;
    border: 1px solid #383737;

    background-color: #3d3d3d;
    color: white;
    height: 60px;
}
